QProgressBar {
    background: #111111;
    color: #dbdbdb;
    border: 1px solid #222222;
    text-align: center;
}

QProgressBar::chunk {
    background: #0bb5ff;
}

QMenu {
    background: #111111;
    color: #777777;
    border: 1px solid #222222;
}

QMenu::separator {
    height: 1px;
    background: #222222;
}

QMenu::item:selected {
    background: #222222;
    color: #dbdbdb;
}

QMenu::item::disabled {
    color: #222222;
}
